.header{
    width: 400px;
    height: 41px;
    background-color: #2158b0;
    border: 18px solid #0a2857;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}
.main{
    margin-left: 15px;
    margin-top: 15px;
    width: 300px;
    height: 60px;
    background-color: #d5e63c;
    border: 40px solid #6b7509;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.footer{
    margin-top: 15px;
    width: 400px;
    height: 41px;
    background-color: #2158b0;
    border: 18px solid #0a2857;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 12px;
}